<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Order - Items faltantes</title>
    <link href="/static/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Items faltantes</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>SKU</td>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>Una vez añadidos todos los productos <b>con su SKU</b> a RepairDesk, refresca la página y acepta el reenvío de formulario</p>
    </main>
</body>
</html>
